@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

#create-trip-container{
    height: calc(100vh - 6em);
    min-height: calc(100vh - 6em);
    max-height: calc(100vh - 6em);
    font-family: 'Nunito Sans', sans-serif;

    display:flex
}

#sidebar{
    height: calc(100vh - 6em);
    min-height: calc(100vh - 6em);
    max-height: calc(100vh - 6em);
    order: 1;
    font-size: 12pt;
    width:25em;



    overflow-x:hidden;
    overflow-y: auto;
    flex-direction: column;
}

google-map{
    height: calc(100vh - 6em);
    min-height: calc(100vh - 6em);
    max-height: calc(100vh - 6em);
    order: 2;
}

#create-trip-container input {
    height: 2em;
    font-size: 1em;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    text-align: center;
}

#create-trip-container select {
    height: 2em;
    font-size: 1em;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    text-align:center;
}

#create-trip-container input[type=text]{
    width: 90%
}

#create-trip-container input[type=datetime-local]{
    width: 90%
}

#create-trip-container input[type=range]{
    width: 90%
}

#create-trip-container select{
    margin-top:5px;
    width: 90%
}

#create-trip-container input[type=checkbox]{
    vertical-align: middle;
}

.trip-input{
    text-align:center;
    margin-bottom: 1em;
    font-size: 1em;
}

#sidebar button{
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    color: black;
    background-color: white;
    font-size: 1em;
    height: 2em;
}

#sidebar button:hover{
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    color: white;
    background-color: black;
    font-size: 1em;
    height: 2em;
}

.result-item{
    border-top: 2px solid black;
}