@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

#create-trip-container{
    height:100%;
    overflow:hidden;
    font-family: 'Nunito Sans', sans-serif;
}

#sidebar{
    overflow-y: hidden;
    overflow-x: hidden;
}

google-map{
    overflow:hidden;
}

#create-trip-container input {
    height: 2em;
    font-size: 1.5em;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    text-align: center;
}

#create-trip-container select {
    height: 2em;
    font-size: 1.5em;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    text-align:center;
}

#create-trip-container input[type=text]{
    width: 100%;
}

#create-trip-container input[type=datetime-local]{
    width: 100%;
}

#create-trip-container input[type=range]{
    width: 100%;
}

#create-trip-container select{
    width: 100%;
}

#create-trip-container input[type=checkbox]{
    vertical-align: middle;
}

.trip-input{
    text-align:center;
    margin-bottom: 1em;
    font-size: 1.5em;
}

#sidebar button{
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    color: black;
    background-color: white;
    font-size: 1.5em;
    height: 2em;
}

.result-item{
    border-top: 2px solid black;
    overflow-y: scroll;
}