

li {
    list-style: none;
 
}

.nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;  
}


.div1{ 
    grid-area: 1 / 1 / 2 / 2;
   
 }
.div2{

     grid-area: 1 / 2 / 2 / 2;

 }
.div3{ 

    grid-area: 1 / 2 / 2 / 3;
}
.div4{ 
    grid-area: 1 / 4 / 2 / 5;

}
.div5{ 
    grid-area: 1 / 5 / 2 / 6;

} 

.hero{
    object-fit: cover;
    width: 100%;
  }


  .hero-text{
    background-image: linear-gradient(10-deg,rgba(121,105,76,0),rgba(121,105,76,.9));
    content: "";
height: 100%;
left: 0;
top: 0;
width: 100%;
    display: flex;
    color: azure;
    flex-direction: column;
    height: 120%;
    justify-content: center;
    left: 0;
    margin: 0 auto;
    max-width: 700px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    font-weight:bold;
    font-family:Arial;
  }